.ssp{
  height: 150px;
  width: 150px;
  background: url(./assets/ssp_sprite.png);
  background-position-x: 0px;
  background-position-y: 0px;
}
.Schere{
  background-position-x: -0px;
}
.Papier{
  background-position-x: -150px;
}
.Stein{
  background-position-x: -300px;
}
